<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/js/application.js"></script>

	<title></title>
</head>
<body>
	<nav>
	 <ul>
	   <li><a href="/">Home</a></li>
	   <li><a href="/posts/new">New Post</a></li>
	 </ul>
	</nav>
 	<%= yield %>
</body>
</html>